{% extends 'base.html.twig' %}

{% block title %}
	Hello BlogController!
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('CSS/index.css') }}">
{% endblock %}

{% block body %}
	<h1>Nos articles</h1>

	<section class="articles d-flex flex-wrap">

		{% for article in articles %}
			<article class="m-2" style="width: 18rem;">
				<div class="card p-2">
					<img src="{{ article.image }}" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">{{ article.title }}</h2>
						<div class="card-text">
							{{ article.description | raw }}
						</div>
						<div class="d-flex justify-content-between">
							<a href="{{ path('blog_show', {'id': article.id}) }}" class="btn btn-info">Lire la suite</a>
							<a href="{{ path('article_like', {'id': article.id}) }}" class="like btn btn-outline-info align-self-center js-like">

								{% if app.user and article.isLikedByUser(app.user) %}
									<i class="fas fa-thumbs-up"></i>
								{% else %}
									<i class="far fa-thumbs-up"></i>
								{% endif %}

								<span class="js-likes">{{ article.likes | length }}</span>
								<span class="js-label">J'aime</span>
							</a>
						</div>
					</div>
				</div>
			</article>
		{% endfor %}

	</section>
{% endblock %}

{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<script src="{{ asset('JS/index.js') }}"></script>
{% endblock %}
