{% extends 'base.html.twig' %}

{% block title %}
	Hello BlogController!
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('CSS/index.css') }}">
{% endblock %}

{% block body %}
	<h1>Nos articles</h1>

	<section class="articles d-flex flex-wrap">

		{% for article in articles %}
			<article class="m-2" style="width: 18rem;">
				<div class="card p-2">
					<img src="{{ article.image }}" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">{{ article.title }}</h2>
						<div class="card-text">
							{{ article.description | raw }}
						</div>
						<div class="d-flex justify-content-between">
							<a href="{{ path('blog_show', {'id': article.id}) }}" class="btn btn-info">Lire la suite</a>
							<a href="" class="like btn btn-outline-info align-self-center">
								<i class="fa-solid fa-thumbs-up"></i>
								J'aime
							</a>
						</div>
					</div>
				</div>
			</article>
		{% endfor %}

	</section>
{% endblock %}
